@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider
<div class="sidebar-brand">
    <a href="~/">@BrandingProvider.AppName</a>
</div>
<div class="sidebar-brand sidebar-brand-sm">
    <a href="~/"></a>
</div>
